#base-login-card {
    border: rgba(0, 255, 0, 1) solid;
    background-color: black;
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-card-title {
    margin: 5px;
}

#username-input, #password-input {
    border: rgba(0, 255, 0, 1) solid 2px;
    color: rgba(0, 255, 0, 1);
    background-color: black;
    display: block;
    font-size: 25px;
    padding: 10px;
    outline: none;
    font-family: "Courier New", Courier, monospace;
}

#username-label, #password-label {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}

#login-button {
    border: rgba(0, 255, 0, 1) solid 2px;
    color: rgba(0, 255, 0, 1);
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Courier New", Courier, monospace;
}

#login-button:hover {
    background-color: rgba(0, 255, 0, 1);
    color: black;
  }

#login-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#error {
    color: red;
    margin: 5px;
}

#error-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}